@charset "UTF-8";
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Formatação para fonte */
@font-face {
    font-family: 'CaviarDreams';
    src: url(../fonts/CaviarDreams.ttf) format("truetype-variations");
    font-weight: normal;
    font-display: swap;
}

/* Formatação para fonte */
@font-face {
    font-family: 'kgred';
    src: url(../fonts/kgred.ttf) format("truetype-variations");
    font-weight: normal;
    font-display: swap;
}

/* Formatação para fonte */
@font-face {
    font-family: 'Biko';
    src: url(../fonts/Biko.otf) format("truetype-variations");
    font-weight: normal;
    font-display: swap;
}

/* Formatação para fonte */
@font-face {
    font-family: 'Bebas';
    src: url(../fonts/Bebas.otf) format("truetype-variations");
    font-weight: normal;
    font-display: swap;
}

/* Formatação para fonte */
@font-face {
    font-family: 'Altone';
    src: url(../fonts/Altone.ttf) format("truetype-variations");
    font-weight: normal;
    font-display: swap;
}

/* Formatação para fonte */
@font-face {
    font-family: 'libel';
    src: url(../fonts/libel.otf) format("truetype-variations");
    font-weight: normal;
    font-display: swap;
}

/* Formatação para fonte */
@font-face {
    font-family: 'cushion';
    src: url(../fonts/cushion.ttf) format("truetype-variations");
    font-weight: normal;
    font-display: swap;
}

/* Formatação para fonte */
@font-face {
    font-family: 'retroica';
    src: url(../fonts/Retroica.ttf) format("truetype-variations");
    font-weight: normal;
    font-display: swap;
}

/* Formatação do Body */	
body {
	background-color: white;
	padding: 0;
	margin: 0;
	width: 100vw;
	height: 100vh;
}

/* Formatação do container principal */
.container {
	display: flex;
	justify-content: center;
	text-align: center;
	flex-wrap: wrap;
	width: 100vw;
	height: auto;
}

/* Formatação do container box2 */
.box1{
	width: 100vw;
    padding: 15px;
}

/* Formatação da imagem da logo do box1 */
#logo {
    height: 120px;
	width: 120px;
    padding: 7px;
    display: block;
    float: left;
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 90px;
}

/* Formatação da imagem da logo do box1 ao clicar */
#logo:hover {
    -moz-transform: scale(1.1);
    -webkit-transition: scale(1.1);
    transform: scale(1.1);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#buscar{
    padding: 20px;
    margin-top: 30px;
    margin-left: 210px;
    background-color: rgb(202, 201, 201);
    border: 2px solid rgb(202, 201, 201);
    width: 450px;
    height: 25px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

#lupa{
    top: 35px;
    position: absolute;
    display: inline;
    padding: 5px;
    margin: 10px;
    width: 35px;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer;
}

#lupa:hover{
    -moz-transform: scale(1.3);
    -webkit-transition: scale(1.3);
    transform: scale(1.3);
}

/* Formatação do h1 do box1 */
.box1 h1{
    font-family: cushion;
	font-weight: bold;
	font-size: 15pt;
    padding: 10px;
    color: rgb(248, 204, 59);
    display: block;
    float: right;
    margin-top: 35px;

}

/* Formatação da imagem da login do box1 */
#login {
    height: 40px;
	width: 40px;
    margin: 30px;
    padding: 5px;
    display: block;
    float: right;
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

/* Formatação ao passar o mouse aa imagem da login do box1 */
#login:hover {
    -moz-transform: scale(1.2);
    -webkit-transition: scale(1.2);
    transform: scale(1.2);
}

/* Formatação da imagem da cadastro do box1 */
#cadastro {
    height: 40px;
	width: 40px;
    margin: 30px;
    padding: 5px;
    display: block;
    float: right;
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

/* Formatação da imagem da cadastro do box1 ao passar o mouse*/
#cadastro:hover {
    -moz-transform: scale(1.2);
    -webkit-transition: scale(1.2);
    transform: scale(1.2);
}

/* Formatação da imagem da carrinho do box1 */
#carrinho {
    height: 40px;
	width: 40px;
    margin: 30px;
    padding: 5px;
    display: block;
    float: right;
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

/* Formatação da imagem da carrinho do box1 ao passar o mouse*/
#carrinho:hover {
    -moz-transform: scale(1.2);
    -webkit-transition: scale(1.2);
    transform: scale(1.2);
}

/* Formatação do container box2 */
.box2{
	width: 100vw;
}

/* Formatação do Menu */
nav#menu {
	display: block;
}

/* Formatação do H1 do Menu */	
nav#menu h1{
	display: none;
}

/* Formatação da Posição na página da Lista do Menu */
nav#menu ul{
	list-style: none;
	text-align: center;
	padding: 10px;
	font-size: 15pt;	
	font-weight: bold;
	background-color: rgba(76, 52, 52, 1);
}

/* Formatação da cor e forma da Lista do Menu */
nav#menu li{
	font-family: CaviarDreams;
	font-weight: normal;
	font-size: 12pt;
    color: white;
	display: inline-block;/* Lista em forma de fila*/
	background-color: transparent;
	margin: 10px;
	padding: 5px;
	text-transform: uppercase;
}

/* Formatação ao passar o mouse na lista*/
nav#menu li:hover{
    color: rgb(248, 204, 59);
}
/* Formatação do container box3 */
.box3{
	width: 100vw;
    height: 45vw;
    background-image: url(../imagens/imageminicial.png);
    background-repeat: no-repeat;
    background-size: contain;
}

/* Formatação do container box4 */
.box4{
	width: 100vw;
	margin: 100px;
}


#faixas{
    display: inline-block;

}
/* Formatação da imagem faixa do box4 */
#faixa{
	width: 160px;
	height: 140px;
    margin: 50px;
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0.7;
}

#faixa:hover{
    -moz-transform: scale(1.1);
    -webkit-transition: scale(1.1);
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    opacity: 1;
}

/* Formatação do video do box4 */
.box4 #video{
	margin: 100px;
}

/* Formatação do h1 box4 */
.box4 h1{
	font-family: Biko;
	font-size: 50px;
	padding: 10px;
    text-align: center;
	color: rgba(76, 52, 52, 1);
	margin-bottom: 10px;
}

/* Formatação do p box4 */
.box4 p{
	font-family: Biko;
	font-size: 20px;
	padding: 0px 250px 0px 250px;
	text-align: justify;
	color: rgba(76, 52, 52, 1);
	text-indent: 20px;
}

#coffee{
    width: 200px;
    margin: 30px;
}
/* Formatação do container box5 */
.box5{
	width: 100vw;
    height: auto;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    margin-top: 100px;
}

/* Formatação da div1 do box3 */
#box5_1{
    width: 50vw;
    height: 500px;
    float: left;
    margin: auto;
    padding: 10px;
}

/* Formatação da imagem da div box5 */
#box5_1_logo{
    width: 450px;
    height: 450px;
    float: center;
    padding: 10px;
}

/* Formatação da div box5_2 */
#box5_2{
    width: 50vw;
    height: 500px;
    float: right;
    margin: auto;
    padding: 10px;
}

/* Formatação da div1 do box5_2 */
#box5_2 h1{
    font-family: Biko;
	font-size: 50px;
    color: rgba(76, 52, 52, 1);
    margin-top: 100px;
    padding: 10px;
}

/* Formatação da p do box5_2 */
#box5_2 p{
    font-family: libel;
	font-size: 20px;
	padding: 0px 80px 0px 80px;
    color: rgba(76, 52, 52, 1);
    text-align: justify;
}

/* Formatação da classe box6 */
.box6{
    margin: 100px auto;
    padding: 0;
    width: 900px;
    height: 600px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* Formatação da classe slides */
.slides{
    width: 400%;
    height: 600px;
    display: flex;
}

/* Formatação dos radios */
.slides input{
    display: none;
}

.slide{
    width: 100%;
    position: relative;
    margin-left: 1350px;
    transition: 2s;
}

.slide img{
    width: 920px;
    height: 600px;
}

.manual-navigation{
    position: absolute;
    width: 300px;
    margin-top: 400px;
    display: flex;
    justify-content: center;
}

.manual-btn{
border: 2px solid white;
padding: 5px;
border-radius: 10px;
cursor: pointer;
transition: 1s;

}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: white;
}

#radio1:checked ~ .first{
    margin-left: 37%;
}

#radio2:checked ~ .first{
    margin-left: -26%;
}

#radio3:checked ~ .first{
    margin-left: -89%;
}

#radio4:checked ~ .first{
    margin-left: -411%;
}

/* Formatação da div box 7*/
.box7{
    display: flex;
    width: 100vw;
    height: 150px;
    margin: auto;
    background-image: linear-gradient(180deg, rgba(76, 52, 52, 1), rgba(153, 110, 110, 1));
}

/* Formatação da div contatos*/
.contatos{
    align-items: center;
    margin: auto;
    padding: 10px;
}

/* Formatação das imagens da div contatos*/
.contatos img{
    width: 30px;
    margin: 20px;
    opacity: 0.5;
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

/* Formatação das imagens da div contatos ao passar o mouse*/
.contatos img:hover{
    opacity: 1;
    transition: 0.5s;
    cursor: pointer;
    -moz-transform: scale(1.2);
    -webkit-transition: scale(1.2);
    transform: scale(1.2);
}

/* Formatação do rodape*/
#rodape{
	text-align: center;
	background-color: rgba(153, 110, 110, 1);
	width: 100%;
	padding: 50px;
	color: black;
	font-family: CaviarDreams;
	font-weight: bold;
	font-size: 10pt;
}


/* Formatação do link do rodape*/
#rodape a{
	color: white;
	text-decoration: none;
	font-weight: normal;
}

/* Formatação do link do rodape*/
#rodape a:hover{
	text-decoration: underline;
	font-size: 11pt;
	transition: 0.4s;
}